body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 355px;
    background-color: black;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;
}

.header1{
    display: flex;
    min-height: 70px;
    background-color: rgb(61, 61, 61);
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    vertical-align: center;
    border-radius: 20px;
    /* margin: 17% 0 0 16%; */
    width: 66%;
    transition: all 0.2s;

    /* PRUEBA */
    margin: auto;
    max-width: 1280px;
}

.logo , .logo2{
    display: flex;
    align-items: center;
    /* Para Referencia Pagina */
    flex-direction: column;
}

.logo img, .logo2 img{
    height: 70px;
    margin-right: 10px;
}

.nav-header a{
    font-size: 28px;
    padding-right: 40px;
}

.nav-header a:hover{
    color: aqua;
}

.nav-link, .logo a, .logo2 a{
    text-decoration: none;
    color: white;
}

/* Referencia Página */
.ref-pag{
    font-family: Oxygen;
    color: white;
}

/* RESPONSIVE */

@media (max-width:1280px){
    .nav-header a{
        font-size: 22px;
        padding-right: 25px;
    }
}

@media (max-width:984px){
    .logo img, .logo2 img{
        height: 60px;
        margin-right: 10px;
    }
    .nav-header a{
        font-size: medium;
        padding-right: 10px;
    }
}

@media (max-width:790px){
    header{
        flex-direction: column;
    }
}

@media (max-width:740px){
    header{
        flex-direction: column;
    }
}

/* @media (max-width:650px){
    nav{
        padding: 10px 0px;
    }
} */


/* MOVIL */
@media (max-width:500px){
    .header1{
        display: none;
    }
    nav{
        padding: 10px 0px;
    }
}


@media (min-width:499px){
    .header2{
        display: none;
    }
}

.header2 {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(61, 61, 61);
    align-items: center;
    padding: 10px;

    vertical-align: center;
    border-radius: 20px;
    width: 100%;
    transition: all 0.2s;
    margin: auto;
    max-width: 1280px;
}

.nav2{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    /* padding: 20px 50px; */
    padding: 20px 50px auto 20px;
}
.logo{
    height: 40px;
}
.nav2 ul{
    float: right;
    margin-right: 20px;
}
.nav2 ul li{
    display: block;
    line-height: 30px;
    margin: 50px 0;
}
.nav2 ul li a{
    color: #fff;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: none;
    transition: .5s;
    color: red;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check{
    display: none;
}
        #check:checked ~ ul{
            left:0;
        }
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }