$title: 'Courier New', Courier, monospace;
$text: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$width-pagina: 1200px;
$bg-color: #1E1E1E;


.header1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70px;
    background-color: rgb(51, 53, 51);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    vertical-align: center;
    border-radius: 20px;

    width: 66%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    margin: auto;
    max-width: $width-pagina;
}

.logo, .logo2 {
    display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
    align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    margin-bottom: 15px;
    flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    &:hover {
        transition: transform 1s;
            -webkit-transition: -webkit-transform 1s;
            -o-transition: transform 1s;
            transition: -webkit-transform 1s;
            transition: transform 1s, -webkit-transform 1s;
        transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
    }

    img {
        height: 70px;
        margin-right: 10px;
    }
}

.nav-header a {
    font-family: $title;
    font-size: 28px;
    font-weight: bold;
    padding-right: 40px;
    transition: 0.5s linear;
        -webkit-transition: 0.5s linear;
        -o-transition: 0.5s linear;
    
    &:hover {
        color: rgb(0, 177, 59);
        font-size: 32px;
    }
}
    
.nav-link, .logo a, .logo2 a {
    text-decoration: none;
    color: white;
}

.ref-pag{
    color: white;
}

// Responsive HEADER.
@media (max-width:1280px){
    .nav-header a{
        font-size: 22px;
        padding-right: 25px;
    }
    .logo:hover, .logo2:hover{
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9);
    }
}

@media (max-width:984px){
    .nav-header a{
        font-size: medium;
        padding-right: 10px;

        &:hover{
            color: rgb(0, 177, 59);
        font-size: medium;
        }
    }

    .logo img, .logo2 img{
        height: 50px;
        margin-right: 10px;
    }
}

@media (max-width:808px){
    header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
