body{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 355px;
    background-color: black;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;
}

.header1{
    display: flex;
    min-height: 70px;
    background-color: rgb(61, 61, 61);
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    vertical-align: center;
    border-radius: 20px;

    width: 66%;
    transition: all 0.2s;

    margin: auto;
    max-width: 1280px;
}

.logo, .logo2{
    display: flex;
    align-items: center;
    /* Para Referencia Pagina */
    flex-direction: column;
}

.logo img, .logo2 img{
    height: 70px;
    margin-right: 10px;
}

.nav-header a{
    font-size: 28px;
    padding-right: 40px;
}

.nav-header a:hover{
    color: aqua;
}

.nav-link, .logo a, .logo2 a{
    text-decoration: none;
    color: white;
}

/* Referencia Página */
.ref-pag{
    font-family: Oxygen;
    color: white;
}

/* RESPONSIVE */

@media (max-width:1280px){
    .nav-header a{
        font-size: 22px;
        padding-right: 25px;
    }
}

@media (max-width:984px){
    .logo img, .logo2 img{
        height: 60px;
        margin-right: 10px;
    }
    .nav-header a{
        font-size: medium;
        padding-right: 10px;
    }
}

@media (max-width:808px){
    header{
        flex-direction: column;
    }
}

@media (max-width:740px){
    header{
        flex-direction: column;
    }
}








/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */
/* --------------------- */





/* MOVIL */
@media (max-width:500px){
    /* .header1{
        display: none;
    }
    nav{
        padding: 10px 0px;
    } */
}

@media (min-width:501px){
    /* .header2{
        display: none;
    } */
}
