:root{
    --title:'Courier New', Courier, monospace;
    --text: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --tamaño-pagina: 1200px;
    --bg-color: #1E1E1E;
}


body{
    font-family: var(--text);
    margin: auto;
    margin-top: 355px;
    background-color: var(--bg-color);
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 0%;
}



/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* CSS PARA EL HEADER */
    .header1{
        display: flex;
        min-height: 70px;
        background-color: rgb(51, 53, 51);
        align-items: center;
        padding: 10px;
        justify-content: space-between;

        vertical-align: center;
        border-radius: 20px;

        width: 66%;
        transition: all 0.2s;

        margin: auto;
        max-width: var(--tamaño-pagina);
    }

    .logo:hover, .logo2:hover{
        transition: transform 1s;
        transform: scale(1.3);
    }

    .logo, .logo2{
        display: flex;
        align-items: center;
        /* Para Referencia Pagina */
        flex-direction: column;
    }

    .logo img, .logo2 img{
        height: 70px;
        margin-right: 10px;
    }

    .nav-header a{
        font-family: var(--title);
        font-size: 28px;
        font-weight: bold;
        padding-right: 40px;
        transition: 0.5s linear;
    }

    .nav-header a:hover{
        color: rgb(0, 177, 59);
        font-size: 32px;
    }

    .nav-link, .logo a, .logo2 a{
        text-decoration: none;
        color: white;
    }

    /* Referencia Página */
    .ref-pag{
        color: white;
    }

    /* RESPONSIVE MODIFICACIONES PARA EL HEADER.*/
    @media (max-width:1280px){
        .nav-header a{
            font-size: 22px;
            padding-right: 25px;
        }
    }

    @media (max-width:984px){
        .logo img, .logo2 img{
            height: 60px;
            margin-right: 10px;
        }
        .nav-header a{
            font-size: medium;
            padding-right: 10px;
        }
    }

    @media (max-width:808px){
        header{
            flex-direction: column;
        }
    }







/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* CSS PARA EL APARTADO DE COMPRA DE LA WEB */
    .compra{
        max-width: var(--tamaño-pagina);
        padding-top: 80px;
        margin: auto;
    }
    .compra img{
        width: 100%;
    }








/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* CSS PARA EL APARTADO DE NOTICIAS RECIENTES */
    .fondo-noticias{
        background-image: url('../images/Noticias/bg_noticias1200x600.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        max-width: var(--tamaño-pagina);
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .noticia{
        background-color: rgba(18, 19, 23, 0.9);
        width: 25%;
        display: inline-block;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid green;
        transition: transform 0.5s;
    }
    .noticia:hover, .noticia:focus{
        transform: scale(1.1);
    }
    .noticia img{
        width: 100%;
        border-bottom: 2px solid green;
    }
    .noticia h4{
        font-family: var(--title);
        color: #9ACD32;
        font-size: large;
    }
    .noticia p{
        color: white;
    }
    .noticia a{
        text-decoration: none;
    }

    @media (max-width: 873px){
        .fondo-noticias{
            max-width: var(--tamaño-pagina);
            width: 96%;
            background-image: none;
            background-color: rgb(51, 53, 51);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        .noticia{
            margin: auto;
            margin-top: 30px;
            margin-bottom: 28px;
            width: 80%;
        }
        .noticia:hover, .noticia:focus{
            transform: scale(0.9);
        }
    }






/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* CSS PARA EL FOOTER*/
    footer{
        width: 100%;
    }

    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: var(--tamaño-pagina);
        margin: auto;
        margin-top: 100px;
    }

    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: auto;
    }

    .box__footer .logo img{
        width: 180px;
    }

    .box__footer .terms{
        max-width: 350px;
        margin-top: 20px;
        color: white;
        font-size: 16px;
        text-align: justify;
    }

    .box__footer h2{
        font-family: var(--title);
        margin-bottom: 30px;
        color: white;
        font-weight: 700;
    }


    /* SISTEMA CLASIFICACIÓN */
    .box__footer2{
        padding: 40px;
        margin: auto;
    }

    .box__footer2 h2{
        font-family: var(--title);
        margin-bottom: 30px;
        color: white;
        font-weight: 700;
        text-align: center;
    }

    img.icon_pegi{
        width: 65px;
        height: 65px;
        padding: 0 20px 20px 20px;
    }


    /* REDES SOCIALES */
    .box__footer img.icon{
        height: 30px;
        vertical-align: middle;
    }

    .box__footer a{
        margin-top: 10px;
        color: #969696;
        font-weight: 600;
    }

    .box__footer a:hover{
        opacity: 0.8;
        transform: scale(1.2);
    }


    /* COPYRIGHT */
    .box__copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }

    .box__copyright p{
        margin-top: 20px;
        color: #969696;
    }

    .box__copyright hr{
        border: none;
        height: 1px;
        background-color: #969696;
    }







/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* CSS PARA LA PÁGINA DINOSAURIOS */
    .dinosaurios{
        text-align: center;
        max-width: 1200px;
        justify-content: center;
        margin: auto;
    }
    .dinosaurios h1{
        font-family: var(--title);
        color: white;
        font-size: 40px;
    }
    .desplegable {
        width: 200px;
        height: 40px;
        cursor: pointer;
        background-color: white;
        box-shadow: 0 2px 0 black;
        border-radius: 2px;
    }
    .btn{
        padding: 7px;
        border-radius: 4px;
        background-color: #009003;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: background-color .5s;
    }
    .btn:hover{
        background-color: #00FF05;
    }
    .color_tabla{
        color: white;
    }
    .dossier{
        display: flex;
        flex-direction: row;
    }
    .dossier-img img{
        width: 100%;
    }
    .dossier-texto{
        color:white;
        font-size: large;
        width: 180%;
        text-align: justify;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width:809px){
        .dossier{
            display: flex;
            flex-direction: column;
        }
        .dossier-img img{
            width: 80%;
        }
        .dossier-texto{
            width: 80%;
            margin: auto;
            text-align: justify;
        }
    }







/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
    /* Div Carousel Mapas */
    .container{
        max-width: 1200px;
        margin: auto;
    }

    .titulo{
        margin-top: 40px;
        padding: 10px;
        text-align: center;
        font-family: var(--title);
        font-size: 80px;
        font-weight: bolder;
        color: #009003;
        text-transform: Uppercase;
    }

    .subtitulo {
        color: #fff;
        margin: 7px 0;
        font-size: 50px;
        font-weight: 600;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        margin-top: 0;
    }


    /* ------------------------------ */
    /* INFORMACIÓN DE LOS MAPAS AL PULSAR EL BOTÓN. */
    /* ------------------------------ */

    .info-mapas{
        max-width: 1200px;
        margin: auto;

        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    .oculto{
        visibility: hidden;
        position: absolute;
        width: 80%;
        background-color: rgba(0, 100, 5, 0.7);
        border-radius: 10px;
        padding: 15px;
    }
    .oculto h1{
        text-align: center;
        font-family: var(--title);
        color: white;
    }
    .oculto h2{
        font-family: var(--title);
        color: white;
    }
    .oculto p{
        color: white;
        text-align: justify;
    }

    /* ------------------- */
    /* ESTILOS DE MATERIALIZE */
    /* El Materialize servirá para el Carrousel de los mapas. */
    /* ------------------- */

    .carousel{
        min-height: 500px;
    }

    .carousel .carousel-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 500px;
        height: 500px;
    }

    .carousel .carousel-item img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 15px;
    }

    .carousel-item input{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .carousel-item input:hover {
        background-color: #0b8010;
        color: white;
        padding: 3px;
        border: 0;
    }

    /* RESPONSIVE cambiar tamaños de imagenes Carousel. */
    @media (max-width: 985px){
        .carousel{
            min-width: 400px;
        }
        .carousel .carousel-item{
            width: 400px;
            height: 400px;
        }
    }

    @media (max-width: 834px){
        .carousel{
            min-width: 300px;
        }
        .carousel .carousel-item{
            width: 300px;
            height: 300px;
        }
    }
